@import "../../../utils/widthPicker"

.square
  height: 230px
  width: 230px
  margin: 30px
  padding: 15px
  border: 1px solid #979797
  border-radius: 5px
  -webkit-box-shadow: 6px 6px 0 0 #C8C8C8
  box-shadow: 6px 6px 0 0 #C8C8C8
  +screen(extraSmall)
    height: auto
    width: auto
    margin: 10px
    padding: 15px

.montserrat
  font-family: 'Montserrat-Regular', sans-serif

.titleStyle
  font-weight: 500

.timestampStyle
  font-size: 13px
  color: #696969
  margin-bottom: 0

.description
  height: 180px
  overflow: hidden
  +screen(extraSmall)
    height: auto
