.square
  height: 220px
  width: 220px
  margin: 30px
  border: 1px solid #000
  border-radius: 5px
  padding: 10px
  -webkit-box-shadow: 6px 6px 0 0 #C8C8C8
  box-shadow: 6px 6px 0 0 #C8C8C8

.montserrat
  font-family: 'Montserrat-Regular', sans-serif

.timestampStyle
  font-size: 13px
  color: #696969
