$animation-duration: .15s

.blogTitle
  &:hover h4
    transition: color $animation-duration ease
    color: #ff5b00

.blogTitle h4
  transition: color $animation-duration ease

.blogSubtitle
  &:hover h6
    transition: color $animation-duration ease
    color: #ff8800

.blogSubtitle h6
  transition: color $animation-duration ease