.customButton
  display: inline-block
  font-size: 20px
  font-weight: 700
  line-height: 1.4em
  transition: color 0.3s, border 0.3s
  background: transparent
  &:hover
    text-decoration: none
    background: transparent
