.signature
  max-height: 30px
  margin-top: 10px

.linkColor
  color: #00675e

.socialMediaButton
  text-align: center
  display: block
  height: 40px
  width: 40px
  border-radius: 100%
  font-size: 20px
  line-height: 40px
  color: #fff
  outline: 0
  transition: all .3s
  margin: 0
  &:hover
    color: #fff

.twitter
  &:hover, &:focus, &:active
    background-color: rgb(85, 172, 238)
.facebook
  &:hover, &:focus, &:active
    background-color: rgb(59, 89, 152)
.linkedin
  &:hover, &:focus, &:active
    background-color: rgb(0, 123, 181)
.github
  &:hover, &:focus, &:active
    background-color: black
.instagram
  &:hover, &:focus, &:active
    background-color: #C13584
.mail
  &:hover, &:focus, &:active
    background-color: rgb(221, 221, 221)
