$transparency: 0.98
$box-color: rgba(29, 61, 119, $transparency)

.introHeadingStyle
  font-weight: 700
  font-size: 75px
  line-height: 50px
  margin-bottom: 70px
  text-transform: uppercase
  @media (max-width: 768px)
    font-size: 50px
    margin-bottom: 20px

.introLeadInStyle
  font-size: 40px
  line-height: 50px
  margin-bottom: 70px
  @media (max-width: 768px)
    font-size: 22px
    line-height: 22px
    margin-bottom: 20px

.introFont
  font-family: 'Montserrat-Regular', sans-serif

.introMargin
  @media (max-width: 768px)
    padding-top: 100px
    padding-bottom: 200px

.box
  display: inline-block
  font-size: 20px
  padding: 10px
  border: 2px solid #fff
  width: 140px
  font-weight: 700
  text-shadow: 0 0 30px #969696
  line-height: 1.4em
  color: #F5F5F5
  transition: color 0.3s, border 0.3s
  @media (max-width: 768px)
    background: $box-color
  &:hover
    border: 2px solid #FED136
    text-decoration: none
    color: #FED136

