@import "../../utils/widthPicker"

$transparency: 0.98
$box-color: rgba(29, 61, 119, $transparency)

.introHeadingStyle
  font-weight: 700
  font-size: 75px
  line-height: 50px
  margin-bottom: 70px
  text-transform: uppercase
  +screen(lessThanMedium)
    font-size: 50px
    margin-bottom: 20px

.introLeadInStyle
  font-size: 40px
  line-height: 50px
  margin-bottom: 70px
  +screen(lessThanMedium)
    font-size: 22px
    line-height: 22px
    margin-bottom: 30px

.introFont
  font-family: 'Montserrat-Regular', sans-serif

.introMargin
  +screen(lessThanMedium)
    padding-top: 100px
    padding-bottom: 150px

.box
  display: inline-block
  font-size: 20px
  padding: 10px
  border: 2px solid #fff
  width: 140px
  font-weight: 700
  text-shadow: 0 0 30px #969696
  line-height: 1.4em
  color: #F5F5F5
  transition: color 0.3s, border 0.3s
  +screen(lessThanMedium)
    background: $box-color
  &:hover
    border: 2px solid #FED136
    text-decoration: none
    color: #FED136

