/* the following style is here to fix the horizontal scroll issue when you animate elements using pose (scale 1.02)*/
.mobileSize
  @media (max-width: 768px)
    width: 97% !important
    margin-left: auto
    margin-right: auto
