.horizontalOverflow
  white-space: nowrap
  overflow-x: auto

.autoSizeImage
  width: auto
  height: 100%
  max-height: 400px

.imageCarousel
  color: #000080
  transition: color 0.3s ease
  &:hover
    color: #5c8afe

.imageCarousel::-webkit-scrollbar-thumb
  border: 8px solid
  border-radius: 10px

.imageCarousel::-webkit-scrollbar
  height: 8px

.imageCarousel::-webkit-scrollbar-track
  border-radius: 5px

.darkImageCarousel
  color: #757575
  &:hover
    color: #a4a4a4

.showHelpText
  color: #A9A9A9
  font-size: 0.8rem

