.imageDiv
  display: flex
  width: 400px
  flex-direction: row-reverse
  margin-right: 40px
  align-items: center

.image
  height: 90px

.description
  width: 450px
  margin-right: 150px
  margin-bottom: 0

.contentDiv
  display: flex
  flex-wrap: wrap
  flex-direction: row-reverse
  margin-top: 40px
  margin-bottom: 40px