.horizontalOverflow
  white-space: nowrap
  overflow-x: auto

.autoSizeImage
  width: auto
  height: 100%
  max-height: 400px

.imageCarousel::-webkit-scrollbar
  height: 10px

.imageCarousel::-webkit-scrollbar-track
  border-radius: 5px

.imageCarousel::-webkit-scrollbar-thumb
  background: #5e7980
  border-radius: 10px

.imageCarousel::-webkit-scrollbar-thumb:hover
  background: #5c8afe
