.horizontalOverflow
  white-space: nowrap
  overflow-x: auto

.autoSizeImage
  width: auto
  height: auto
  max-height: 400px
  max-width: 100%

.mediaCarousel
  color: #000080
  transition: color 0.3s ease
  &:hover
    color: #5c8afe

.mediaCarousel::-webkit-scrollbar-thumb
  border: 8px solid
  border-radius: 10px

.mediaCarousel::-webkit-scrollbar
  height: 8px

.mediaCarousel::-webkit-scrollbar-track
  border-radius: 5px

.darkMediaCarousel
  color: #757575
  &:hover
    color: #a4a4a4

.showHelpText
  color: #A9A9A9
  font-size: 0.8rem

