.topNavExpand
  @media (min-width: 768px)
    padding: 10px 0
  @media (max-width: 767px)
    background: rgba(63, 79, 109, 0.9)

.topNavCollapse
  @media (min-width: 768px)
    padding: 0
  background: rgba(63, 79, 109, 0.9)

.customNavbar
  color: #fff
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out
  transition: background .5s ease-in-out, padding .5s ease-in-out

.whiteLink
  color: #fff
  font-family: 'Montserrat-Regular', sans-serif
  font-weight: 100

.brand
  color: #fed136
  font-family: 'KaushanScript-Regular', sans-serif
  font-size: 1.5em
  @media (min-width: 768px)
    font-size: 2em

.active
  border-bottom-style: solid
