@import "../../utils/widthPicker"

$transparency: 0.95
$brandColor: #fed136
$navbar-color: rgba(29, 61, 119, $transparency)

.topNavExpand
  +screen(lessThanMedium)
    padding-top: 5px
    padding-bottom: 5px
    background: $navbar-color

.topNavCollapse
  padding-top: 3px
  padding-bottom: 3px
  background: $navbar-color

.customNavbar
  color: #fff
  -webkit-transition: background .3s ease .1s, padding .5s ease
  -moz-transition: background .3s ease .1s, padding .5s ease
  transition: background .3s ease .1s, padding .5s ease

.whiteLink
  color: #fff
  font-family: 'Montserrat-Regular', sans-serif
  font-weight: 100
  &:hover
    color: $brandColor
    -webkit-transition: color .3s ease-in-out
    -moz-transition: color .3s ease-in-out
    transition: color .3s ease-in-out

.brand
  // this allows for more space on the NavBar on a small
  // screen like portrait iPad so items don't wrap to the next line
  padding-right: 0
  color: $brandColor
  font-family: 'KaushanScript-Regular', sans-serif
  font-size: 1.5em
  &:hover
    color: #fe9b00
    -webkit-transition: color .3s ease-in-out
    -moz-transition: color .3s ease-in-out
    transition: color .3s ease-in-out
  +screen(small)
    padding-left: 0
  +screen(large)
    font-size: 1.4em
  +screen(greaterThanLarge)
    font-size: 2em

.navbarToggle
  background: $brandColor

.navbarButton
  background-image: url("../../data/images/hamburger.svg")
  display: inline-block
  width: 1.3em
  height: 1.3em
  vertical-align: middle
  background-size: 100% 100%