@import "../utils/animationTimer"
@import "../utils/variables"

.profilePicture
  width: 3.5rem
  height: 3.5rem
  margin-right: 0.5rem

.background
  background-color: #fff
  transition: background-color $colorTransitionDuration

.blogTitleFont
  font-size: 16px

.blogDark
  color: #FFF
  background-color: #111
  h1, h4, h6
    color: #fff

.blogStyle
  max-width: $blog-width
  margin-left: auto
  margin-right: auto
  padding-left: 20px
  padding-right: 20px
