.blogPostImage
  background: url("../data/images/maps.png") center
  background-size: cover
  height: 300px

body
  background: lightgray

.blogPostBackground
  background: white
  margin-top: -10vh
  border-radius: 5px
  -webkit-box-shadow: 4px 6px 22px -5px rgba(0,0,0,0.8)
  -moz-box-shadow: 4px 6px 22px -5px rgba(0,0,0,0.8)
  box-shadow: 4px 6px 22px -5px rgba(0,0,0,0.8)

pre
  -webkit-box-shadow: inset 4px 6px 22px -5px rgba(0,0,0,0.8)
  -moz-box-shadow: inset 4px 6px 22px -5px rgba(0,0,0,0.8)
  box-shadow: inset 4px 6px 22px -5px rgba(0,0,0,0.8)
  padding: 10px
  border-radius: 5px