@import "../utils/animationTimer"

.profilePicture
  width: 3.5rem
  height: 3.5rem
  margin-right: 0.5rem

.background
  background-size: 100% 200%
  background-image: linear-gradient(to bottom, #fff 50%, #111 50%)
  -webkit-transition: background-position $backgroundTransitionDuration linear, $backgroundTransition, color $colorTransitionDuration linear
  -moz-transition: background-position $backgroundTransitionDuration linear, $backgroundTransition, color $colorTransitionDuration linear
  transition: background-position $backgroundTransitionDuration linear, $backgroundTransition, color $colorTransitionDuration linear

.blogTitleFont
  font-size: 16px

.blogDark
  color: #FFF
  background-position: 0 -100%
  h1, h4, h6
    color: #fff

.socialMediaButtonBackground
  background: #a3a3a3

.socialMediaButtonBackgroundDark
  background: #444
