@import "../utils/widthPicker"
@import "../utils/colorPalette"

.projectsBackground
  background: $off-white

.skillsBackground
  background: $off-white

.footerBackground
  background: $space-grey

.footerPadding
  padding: 25px 0

.paddingTop
  padding: 35px 0 0 0

.marginDefault
  margin: 25px 0

.marginBottom
  margin: 0 0 25px 0

.noMargin
  margin: 0
