.skillsBackground
  background: #6c6c6c

.projectsBackground
  background: #d9d9d9

.ongoingProjectsBackground
  background: #b3b3b3

.footerBackground
  background: #3c3c3c

.whyDeveloperBackground
  background: #c9c9c9

.paddingDefault
  padding: 25px 0

.paddingBottom
  padding: 0 0 25px 0

.marginDefault
  margin: 25px 0

.marginBottom
  margin: 0 0 25px 0

.marginBottomLarge
  margin: 0 0 40px 0

.heroBackground
  background: scroll center center
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover
  text-align: center
  color: #fff

.spanView
  height: 100vh