@import "../utils/widthPicker"

.projectsBackground
  background: #FCFCFC

.skillsBackground
  background: #FCFCFC

.footerBackground
  background: #2D2D2D

.footerPadding
  padding: 25px 0

.paddingTop
  padding: 35px 0 0 0

.arrowMargin
  margin-top: -190px
  +screen(lessThanMedium)
    margin-top: -130px

.arrowSize
  height: 140px
  +screen(lessThanMedium)
    height: 110px

.marginDefault
  margin: 25px 0

.marginBottom
  margin: 0 0 25px 0

.noMargin
  margin: 0

.heroBackground
  background: scroll center center
  -webkit-background-size: cover
  -moz-background-size: cover
  background-size: cover
  -o-background-size: cover
  text-align: center
  transition: .5s background-image ease-in-out
  color: #fff
  +screen(greaterThanMedium)
    height: 100vh
    min-height: 750px
