$black: #000
$midnight-black: #111
$shade-black: #333
$dark-blue: #003c85
$blue: #5c8afe
$light-blue: #88a7d1
$sky-blue: #a2c1eb
$dark-grey: #757575
$grey: #a4a4a4
$light-grey: #A9A9A9
$pale-grey: #f0f0f0
$white: #fff