@import "../../../utils/widthPicker"
@import "../../../utils/colorPalette"

.socialMediaButtonBackground
  background: $grey

.socialMediaButtonBackgroundDark
  background: $space-grey

.footerStyle
  text-align: center
  display: flex
  justify-content: space-around
  +screen(small)
    flex-flow: column-reverse

.title
  span
    display: block
    margin-bottom: 5px
  +screen(small)
    padding-top: 15px

.darkTitle
  color: $white

.socialMediaBar
  margin-top: auto
  margin-bottom: auto
  padding-left: 0
  padding-right: 0