@import "../../../utils/widthPicker"
@import "../../../utils/variables"
@import "../../../utils/animationTimer"

.footerDarkText
  color: #A6A6A6

.footerLightText
  color: #C9C9C9

.footerName
  font-weight: 700
  font-size: 1.1rem

.leftText
  font-family: 'Montserrat-Regular', sans-serif
  font-size: 8.5rem
  line-height: 8.5rem
  +screen(large)
    font-size: 6.5rem
    line-height: 6.5rem
  +screen(lessThanMedium)
    font-size: 2.4rem
    line-height: 2rem

.lineSeparator
  +screen(greaterThanMedium)
    border-right: 1px solid rgba(255,255,255,.2)
  +screen(lessThanMedium)
    border-bottom: 1px solid rgba(255,255,255,.2)

.footerList
  list-style-position: inside

.footerLinks
  margin: 6px 0
  &:hover a
    text-decoration: none
    color: $orange

.socialMediaButton
  text-align: center
  display: block
  height: 40px
  width: 40px
  outline: 0
  border-radius: 100%
  font-size: 18px
  line-height: 40px
  color: #fff
  transition: background-color .2s, transform 0.2s
  margin: 0
  background: #444
  &:hover
    transform: scale(1.075)
    color: #fff
  &:active
    transform: scale(1.025)

.twitter
  &:hover, &:focus, &:active
    background-color: #55ACEE
.facebook
  &:hover, &:focus, &:active
    background-color: #3B5998
.linkedin
  &:hover, &:focus, &:active
    background-color: #007BB5
.github
  &:hover, &:focus, &:active
    background-color: #000000
.instagram
  &:hover, &:focus, &:active
    background-color: #C13584
.mail
  &:hover, &:focus, &:active
    background-color: #DDDDDD
