@import "../../../utils/widthPicker"
@import "../../../utils/variables"
@import "../../../utils/animationTimer"

.footerDarkText
  color: #A6A6A6
  text-align: center
  margin-bottom: 0

.footerLightText
  color: #C9C9C9

.footerName
  font-weight: 700
  font-size: 1.1rem

.leftText
  font-family: 'Montserrat-Regular', sans-serif
  font-size: 8.5rem
  line-height: 8.5rem
  height: 100%
  display: flex
  justify-content: center
  flex-direction: column
  text-align: center
  +screen(large)
    font-size: 6.5rem
    line-height: 6.5rem
  +screen(lessThanMedium)
    font-size: 2.4rem
    line-height: 2rem
  +screen(greaterThanMedium)
    text-align: right

.lineSeparator
  +screen(greaterThanMedium)
    border-right: 1px solid rgba(255,255,255,.2)
  +screen(lessThanMedium)
    border-bottom: 1px solid rgba(255,255,255,.2)

.footerList
  list-style-position: inside

.footerLinks
  margin: 6px 0
  &:hover a
    text-decoration: none
    color: $orange

.signature
  margin-top: 15px
  margin-bottom: 10px
  +screen(small)
    margin-top: 10px
