@import "../../../utils/widthPicker"

.footerDarkText
  color: #A6A6A6

.footerLightText
  color: #C9C9C9

.footerName
  font-weight: 700
  font-size: 1.1rem

.leftText
  font-family: 'Montserrat-Regular', sans-serif
  font-size: 8.5rem
  line-height: 8.5rem
  +screen(large)
    font-size: 6.5rem
    line-height: 6.5rem
  +screen(lessThanMedium)
    font-size: 2.4rem
    line-height: 1rem

.lineSeparator
  +screen(greaterThanMedium)
    border-right: 1px solid rgba(255,255,255,.2)
  +screen(lessThanMedium)
    border-bottom: 1px solid rgba(255,255,255,.2)

.footerList
  list-style-position: inside

.socialMediaButton
  text-align: center
  display: block
  height: 40px
  width: 40px
  border-radius: 100%
  font-size: 18px
  line-height: 40px
  color: #fff
  outline: 0
  transition: all .3s
  margin: 0
  background: #444
  &:hover
    color: #fff

.twitter
  &:hover, &:focus, &:active
    background-color: rgb(85, 172, 238)
.facebook
  &:hover, &:focus, &:active
    background-color: rgb(59, 89, 152)
.linkedin
  &:hover, &:focus, &:active
    background-color: rgb(0, 123, 181)
.github
  &:hover, &:focus, &:active
    background-color: black
.instagram
  &:hover, &:focus, &:active
    background-color: #C13584
.mail
  &:hover, &:focus, &:active
    background-color: rgb(221, 221, 221)
