body
  margin: 0
  padding: 0
  font-family: sans-serif
  font-size: 14px

@font-face
  font-family: 'Montserrat-Bold'
  src: local('Montserrat-Bold'), url('fonts/Montserrat-Bold.woff') format('woff')

@font-face
  font-family: 'Montserrat-Regular'
  src: local('Montserrat-Regular'), url('fonts/Montserrat-Regular.woff') format('woff')

@font-face
  font-family: 'KaushanScript-Regular'
  src: local('KaushanScript-Regular'), url('fonts/KaushanScript-Regular.otf') format('opentype')

*
  -webkit-font-smoothing: antialiased
