body
  margin: 0
  padding: 0
  font-family: Roboto-Regular, sans-serif
  font-size: 14px

h2, h3, h4, h6
  font-family: Avenir-Roman, sans-serif
  font-weight: 900

@font-face
  font-family: 'Montserrat-Bold'
  src: local('Montserrat-Bold'), url('fonts/Montserrat-Bold.woff') format('woff')

@font-face
  font-family: 'Montserrat-Regular'
  src: local('Montserrat-Regular'), url('fonts/Montserrat-Regular.woff') format('woff')

@font-face
  font-family: 'KaushanScript-Regular'
  src: local('KaushanScript-Regular'), url('fonts/KaushanScript-Regular.woff') format('woff')

@font-face
  font-family: 'Roboto-Regular'
  src: local('Roboto-Regular'), url('fonts/Roboto-Regular.woff') format('woff')

@font-face
  font-family: 'Avenir-Roman'
  src: local('Avenir-Roman'), url('fonts/Avenir-Roman.otf') format('opentype')

*
  -webkit-font-smoothing: antialiased
