@import "../../../utils/colorPalette"
@import "../../../utils/animationTimer"

.noMargin
  margin: 0

.titleFont
  font-family: "Montserrat", sans-serif
  font-weight: 600
  transition: text-shadow $colorTransitionDuration

.titleShadow
  text-shadow: -2px 2px 0px $smoke-grey

.titleShadowDark
  text-shadow: -2px 2px 0px $dark-grey

.navbarFlex
  display: flex
  justify-content: space-between
  min-width: 230px

.centerDarkModeToggle
  display: flex
  align-items: center
  justify-content: center
  width: 33.33%

.button1
  width: 33.33%

.button2
  display: flex
  justify-content: flex-end
  width: 33.33%